@page "/"
@using BlazorDatabase.Data
@using BlazorDatabase.Models
@inject MyDbContext myDbContext

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button>Trykk meg</button>

@code
{
    //List<Student> students = myDbContext.Students.ToList();

 
}