@page "/"
@namespace Oblig4WebAppBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}


<html>
    <head>
        <script src="_content/BlazorDateRangePicker/clickAndPositionHandler.js"></script>
        <link rel="stylesheet" href="_content/BlazorDateRangePicker/daterangepicker.min.css" />
    </head>
    <body>
        <component type="typeof(App)" render-mode="ServerPrerendered" />

    </body>
</html>
