@page "/roomBooking"
@using Oblig4WebAppBlazor.Models
@using Oblig4WebAppBlazor.Utils
@using BlazorDateRangePicker;
@inject HotellService hotellservice;
<h3>RoomBooking</h3>


<h2>Søk etter rom!</h2>
<DateRangePicker @bind-StartDate="startDate" @bind-EndDate="endDate"></DateRangePicker>
<div>
    <p>Velg Antall Senger</p>
    <select @bind="beds">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>

    <p>Velg Kvalitet</p>
    <select @bind="quality">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <button @onclick="searchRoom">Search!</button>

    @if (rooms != null)
    {   
            <p>This is room number: @rooms[0].RoomNumber, 
                <br>Quality: @rooms[0].Quality, <br>Beds: @rooms[0].NumberOfBeds <button @onclick="()=>bookRoom(rooms[0])">Book this room!</button> 
                <input @bind="username"/></p>
    }
</div>
@code {
    string username;
    int beds;
    int quality;
    DateTimeOffset? startDate;
    DateTimeOffset? endDate;
    List<Room> rooms;
    bool booked;



    public void searchRoom()
    {
        booked = false;
        rooms = hotellservice.getRooms(beds, quality, startDate.Value.DateTime, endDate.Value.DateTime);
    }
    public void bookRoom(Room r)
    {
        hotellservice.bookRoom(r, username, startDate.Value.DateTime, endDate.Value.DateTime);
        booked = true;
    }

}
